<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>비에스앤리조트도고콘도</title>
	
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/commonR.css">
	<!--<link rel="stylesheet" type="text/css" href="../../static/css/commonR.css">-->
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/facil/initR.css">
	<!--<link rel="stylesheet" type="text/css" href="../../static/css/facil/initR.css">-->
	
	<!-- 190226 css 추가 -->
	<link rel="stylesheet" href="http://static.ramadapt.co.kr/css/totalweb.css">
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	
	<script src="http://static.bscondo.co.kr/js/common.js"></script>
    <!--<script src="../../static/js/common.js"></script>-->
	<script src="http://static.bscondo.co.kr/js/facil/init.js"></script>
<!--	<script src="../../static/js/facil/init.js"></script>-->
	<!-- 190226 js 추가 -->
	<script src="http://static.ramadapt.co.kr/js/totalweb.js"></script>

	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	</script>

        <!--<link rel="stylesheet" type="text/css" href="../../static/css/commonR_ie8.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/facil/initR_ie8.css">-->
	<!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/commonR_ie8.css">
        <link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/facil/initR_ie8.css">
        
	    <script src="http://static.bscondo.co.kr/js/common_ie8.js"></script>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
	
</head>
<body>
	
	<h1 class="hidden">비에스앤리조트도고콘도</h1>

	<div id="bs-wrap">
		
		<!--180109 해더 변경-->
		<header class="header" id="gnb-header">
			<div class="hd-top">		
			</div>
			<div class="hd-area clr">
				<div class="glb clr">
					<a href="#" class="gLogo"><img src="http://img.bscondo.co.kr/top_logo.png" alt="비에스앤리조트로고"></a>
					
					<div class="d1">
						<a class="mFaq-a show-xs" id="mFaq-a" href="#"><span><img src="http://img.ocean2you.co.kr/renew/m_icon.png">이벤트 안내</span></a>
					</div>
				
                    <!-- 190226 메뉴 수정 -->
					<nav class="gNav show-md">
						<ul class="gnb clr">
							<li class="nth-1">
								<a href="../intro/index.html">콘도소개</a>
							</li>
							<!--180118 객실서브 메뉴 변경-->
							<li class="nth-2">
								<a href="../gallery/index.html">객실안내</a>
								<div class="gNavDep2">
									<ul class="gnbDep2 clr">
										<li><a href="#room01">스탠다드 온돌</a></li>
										<li><a href="#room02">디럭스 온돌</a></li>
										<li><a href="#room03">디럭스 침대</a></li>
										<li><a href="#room04">디럭스 키즈</a></li>
										<li><a href="#room05">디럭스 패밀리</a></li>
									</ul>
								</div>
							</li>
							<li class="nth-3 on">
								<a href="../dining/index.html">다이닝</a>
								<div class="gNavDep2">
									<ul class="gnbDep2 clr">
										<li><spna class="evt">EVENT</spna><a href="#none">한식당</a></li>
										<li><a href="#none">바베큐장</a></li>
									</ul>
								</div>
							</li>
							<li class="nth-4">
								<a href="../facil/index.html">연회&amp;부대시설</a>
								<div class="gNavDep2">
									<ul class="gnbDep2 clr">
										<li><a href="#none">대식당</a></li>
										<li><a href="#none">연회장</a></li>
										<li><a href="#none">분임토의실 (1~6호실)</a></li>
										<li><a href="#none">노래방</a></li>
										<li><a href="#none">편의점</a></li>
									</ul>
								</div>
							</li>
							<li class="nth-5">
								<a href="../waycome/index.html">오시는길</a>
							</li>
							<!-- 20180212 메뉴 추가 -->
							<li class="nth-7">
								<a href="../tourplace/index.html">주변관광지</a>
								<div class="gNavDep2">
									<ul class="gnbDep2 clr">
										<li><a href="../tourplace/index.html">스파, 온천/워터파크</a></li>
										<li><a href="../tourplace/index02.html">사찰/성당</a></li>
										<li><a href="../tourplace/index03.html">자연관광지</a></li>
										<li><a href="../tourplace/index04.html">기타관광지</a></li>
										<li><a href="../tourplace/index05.html">추천관광코스</a></li>
									</ul>
								</div>
							</li>
							<li class="nth-8">
								<a href="../group/index.html">단체문의</a>
							</li>
							<li class="nth-9">
								<a href="#none">장기/단기숙박</a>
							</li>
						</ul>
                       
                        <!-- 190226 예약하기 메뉴 추가 -->
                        <div class="bk-menu bs">
                            <a href="#none" class="btn-bk2">예약하기</a>
                            <ul class="bk-list">
                                <li class="item item-1 fst"><a href="#none">객실예약</a></li>
                                <li class="item item-2"><a href="#none">예약확인</a></li>
                                <li class="item item-3"><a href="#none">단체예약</a></li>
                                <li class="item item-4"><a href="#none">장기/단기예약</a></li>
                            </ul>
                        </div>
					</nav>
					
					
					<button type="button" class="navTab-m show-xs" id="navTab-m">
						<span></span>
						<span></span>
						<span></span>
					</button>
					
					<nav class="gNav-m hidden-md" id="gNav-m">
                        <!-- 190226 예약하기 메뉴 추가 -->
                        <ul class="bk-menu-m bs clr">
                            <li>
                                <a href="#none" target="_blank">객실예약</a>
                            </li>
                            <li>
                                <a href="#none">예약확인</a>
                            </li>	
                        </ul>
						<ul class="gnb-m clr">
							<li>
								<a href="../intro/index.html">콘도소개</a>
							</li>
							<li>
								<a href="../gallery/index.html">객실안내</a>
							</li>
							<li >
								<a href="../dining/index.html">다이닝</a>
							</li>
							<li>
								<a href="../facil/index.html">연회&amp;부대시설</a>
							</li>
							<li>
								<a href="../group/index.html">단체문의</a>
							</li>
							<li>
								<a href="../waycome/index.html">오시는길</a>
							</li>
							<!-- 20180212 메뉴 추가 -->
							<li>
								<a href="../tourplace/index.html">주변관광지</a>
							</li>
							<li class="lst">
								<a href="#none">장기/단기예약</a>
							</li>
						</ul>
					</nav>
				</div>
				
				
			</div>
		</header>
                    
        <div style="" class="rWing">
            <!-- 20180321 전체배너 group_bn.png 를 group_bn_01.png로 변경 -->
            <img src="http://img.bscondo.co.kr/group_bn_01.png" alt="" style="cursor:pointer" onclick="javascript:reserve_list_loca();">
        </div>
		
		<div class="container" id="setTop">
            <!--190226 section 및 콘텐츠에 id추가 -->
			<section class="main-contents cm-s" id="main-contents">
            
                <!--190226 서브메뉴 추가 --> 
				<div class="menu_tap hidden-md clr">
					<ul class="clr">
						<li><a href="#facil01">바베큐장</a></li>
						<li><a href="#facil02">한식당</a></li>
					</ul>
				</div>
            
			    <!-- 190130 바베큐 리뉴얼 -->
			    <div class="bbq-part-2" id="facil01">
					<div class="d-top">
						<strong>바베큐장</strong>
						<div class="hidden-xs">
                            <h2>[진정한 피크닉 <span class="fc-orange">BBQ</span>를 즐기자!]</h2>
                            <p class="p-0">준비없이 오셔도 마음편히 즐기실 수 있습니다.</p>
						</div>
						<div class="hidden-md">
                            <h2>[진정한 피크닉 <span class="fc-orange">BBQ</span>를 즐기고 싶다면!]</h2>
                            <p class="p-0"><span class="fc-orange">BS콘도</span>에 다~~ 있으니 아무것도 준비하지말기~~ </p>
						</div>
					</div>
            
					<div class="d-intro">
						<figure>
						    <img src="http://img.bscondo.co.kr/facil/facil_00.jpg" alt="바베큐장">
						</figure>
						<figure class="right"><img src="http://img.bscondo.co.kr/facil/facil_00_right.png" alt="바베큐장 추가 이미지"></figure>
					</div>
            
					<div class="d-cont">
                        <div class="d-row cf">
                            <div class="flt-1">
                                <p class="nth-1">러블리BBQ <span class="fc-orange">커플</span>세트</p>
                                <p class="nth-2">59,000원</p>
                            </div>
                            <div class="flt-2">
                                <ul class="bbq-list">
                                    <li>삼겹살/돈목살 (각 200g)</li>
                                    <li>모듬소세지 & 구이용 버섯 (합 200g)</li>
                                    <li>구이용새우/구이용떡/상추/배추/고추,깐마늘 (합 300g)</li>
                                    <li>부추샐러드&드레싱/참기름/소금/김치/반찬류 3종</li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-row cf">
                            <div class="flt-1">
                                <p class="nth-1">러블리BBQ <span class="fc-orange">패밀리</span>세트</p>
                                <p class="nth-2">79,000원</p>
                            </div>
                            <div class="flt-2">
                                <ul class="bbq-list">
                                    <li>삼겹살/돈목살 (각 300g)</li>
                                    <li>모듬소세지 & 구이용 버섯 (합 300g)</li>
                                    <li>구이용새우/구이용떡/상추/배추/고추,깐마늘 (합 300g)</li>
                                    <li>부추샐러드&드레싱/참기름/소금/김치/반찬류 3종</li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-row cf">
                            <div class="flt-1">
                                <p class="nth-1">러블리BBQ <span class="fc-orange">자리대여</span></p>
                                <p class="nth-2">50,000원</p>
                            </div>
                            <div class="flt-2">
                                <ul class="bbq-list">
                                    <li>4~6인 기준 1테이블 / 집기류(집게,가위,수저) 및 참숯 제공</li>
                                    <li>기본 양념류 세트 (소금/쌈장/참기름) 제공</li>
                                    <li>온라인 구매 / 현장구매 모두 가능 (단, 바비큐 상품 구매 고객 우선)</li>
                                </ul>
                            </div>
                        </div>
                        
                        <!-- 190201 버튼 제거 -->
					    <!--<a href="javascript:popOpen('#foodViewPop');" class="btn-view">구매가능품목<span class="ic-rArrow"></span></a>-->
                    </div>
                    
			    </div>
			    <!--//END : 190130 바베큐 리뉴얼 -->
			    
                <!-- 190201 품목 내용 추가 -->
                <div class="bbq-part-2 bbq-menu">
                    <div class="d-top">
                        <h2>[장 봐오지 말기!]</h2>
                        <p class="p-0">
                            소금/쌈장/참기름/야채/밑반찬/밥까지!<br>
                            게다가 소떡 2천원? <span class="show-xxs"></span><span class="fc-orange">(모든 품목, 사전 예약 없이 현장 구매 가능)</span>
                        </p>
                    </div>

                    <div class="d-cont">
                        <div class="bbq-menu-box cf">
                            <ul class="bbq-menu-list">
                                <li>
                                    <span>삼겹살 (250g)</span>
                                    <span>20,000원</span>
                                </li>
                                <li>
                                    <span>목살 (250g)</span>
                                    <span>20,000원</span>
                                </li>
                                <li>
                                    <span>소떡소떡 (두꼬치)</span>
                                    <span>3,000원</span>
                                </li>
                                <li>
                                    <span>모둠소시지 세트 (200g)</span>
                                    <span>10,000원</span>
                                </li>
                                <li>
                                    <span>유기농야채세트 (100g)</span>
                                    <span>7,000원</span>
                                </li>
                                <li>
                                    <span>굵은소금 (10g)</span>
                                    <span>500원</span>
                                </li>
                                <li>
                                    <span>맛소금 (10g)</span>
                                    <span>500원</span>
                                </li>
                                <li>
                                    <span>참기름 (10g)</span>
                                    <span>500원</span>
                                </li>
                                <li>
                                    <span>쌈장 (10g)</span>
                                    <span>500원</span>
                                </li>
                                <li>
                                    <span>고추장 (10g)</span>
                                    <span>500원</span>
                                </li>
                            </ul>
                            <ul class="bbq-menu-list">
                                <li>
                                    <span>김치 (100g)</span>
                                    <span>2,000원</span>
                                </li>
                                <li>
                                    <span>명이나물 (100g)</span>
                                    <span>2,000원</span>
                                </li>
                                <li>
                                    <span>쌈무 (100g)</span>
                                    <span>2,000원</span>
                                </li>
                                <li>
                                    <span>멸치볶음 (100g)</span>
                                    <span>1,000원</span>
                                </li>
                                <li>
                                    <span>맛김 (100g)</span>
                                    <span>1,000원</span>
                                </li>
                                <li>
                                    <span>엄마밥 (1공기)</span>
                                    <span>1,000원</span>
                                </li>
                                <li>
                                    <span>된장찌개</span>
                                    <span>3,000원</span>
                                </li>
                                <li>
                                    <span>어묵탕</span>
                                    <span>3,000원</span>
                                </li>
                                <li class="fc-point">
                                    <span>소주/맥주</span>
                                    <span>2,000원</span>
                                </li>
                                <li class="fc-point">
                                    <span>음료</span>
                                    <span>1,000원</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
			
			    <!-- 한식당 다연 -->
				<div class="d-part" id="facil02">
					<h3><img src="http://img.bscondo.co.kr/title_icon.png" alt="아이콘" class="title_ico"/>한식당</h3>
					<p class="p-txt">
						BS콘도 1층에 위치한 한식당에서 <span class="show-xs"></span>정성껏 준비한 식사를 준비하고 있습니다.<br>
						청결하고 맛있는 한식당에서 맛있게 즐기세요. <br>
						※ 한식당은 토요일과 일요일 아침에만 뷔페 형태로 운영됩니다.
					</p>
					<div class="bxBox">
						<ul class="bxS" id="bxS-1">
							<li><img class="basicImg" src="http://img.bscondo.co.kr/facil/facil_02.jpg" alt="한식당"></li>
							<li><img class="basicImg" src="http://img.bscondo.co.kr/facil/facil_02_4.jpg" alt="한식당"></li>
						</ul>
					</div>
				</div>
				
			</section>

			
		</div>
		
		<div class="clr"></div>
		<!-- 20180517 푸터 수정 / footer-2로 클래스 변경 -->
		<footer class="footer-2">
			<div class="container clr">

				<ul class="f_menu clr">
					<li><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .term-wrap').show();">이용약관</a></li>
					<li><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .privacy-wrap').show();">개인정보처리방침</a></li>
				</ul>

				<!-- 20180517 텍스트 추가 및 수정 -->
				<div class="cf-box clr">
					<p class="p-0">고객센터 안내</p>
				    <p class="p-1">문의사항에 따라 아래의 고객센터로 연락 부탁드립니다.</p>
				    
				    <!-- 20180517 태그 수정 및 변경 -->
					<div class="cf-in">
						<a class="callFor cf1 clr">
							<p class="s1">예약문의<span class="s1-2">예약 확정, 변경, 취소 / 이벤트 관련 문의</span></p>
							<span class="s2"><img src="http://img.bscondo.co.kr/i_call.png" alt="전화아이콘">1666-6701</span>
							<span class="s3">(주중 09시 30분 ~ 25시 / 주말 09시 30분 ~ 24시)</span>
						</a>
						<a class="callFor cf2 clr">
							<p class="s1">프론트<span class="s1-2">체크인, 체크아웃 / 시설이용 관련 문의</span></p>
							<span class="s2"><img src="http://img.bscondo.co.kr/i_call.png" alt="전화아이콘">041-428-9422~3</span>
							<span class="s3">(주중/주말 06시 ~ 02시)</span>
						</a>
						<a class="callFor cf3 clr">
							<p class="s1">단체문의<span class="s1-2">워크샵, 학생, 산업단체 / 단체이용 관련 문의</span></p>
							<span class="s2"><img src="http://img.bscondo.co.kr/i_call.png" alt="전화아이콘">010-9544-8281</span>
							<span class="s3">(주중/주말 06시 ~ 02시)</span>
						</a>
					</div>
				</div>
				<!--// -->
				
				<!-- 180529 수정 -->
				<div class="flt-box clr">
                    <div class="flt-1">
                        <!-- 20180517 이미지 변경 -->
                        <img class="f-logo" src="http://img.bscondo.co.kr/footer_logo2.png" alt="BS콘도 도고온천 호텔앤리조트">
                    </div>

                    <div class="flt-2">
                        <address>
                            <!-- 20180517 텍스트, 태그 추가 및 수정 -->
                            <p class="nth-1">
                                (주)비에스투어앤리조트<br>
                                대표자 : 공병식<br>
                                주소 : 충청남도 아산시 도고면 기곡로62번길 6-8<br>
                                사업자등록번호 : 312-86-43769<br>
                                통신판매업 : 2017-충남아산-0196<span class="intv"></span>▶사업자정보확인<br>
                                관광사업등록번호 : 제 2013-000001호<span class="intv"></span>메일 : dogo121212@naver.com
                                <!--<small>COPYRIGHT ⓒ (주)비에스투어앤리조트 ALL RIGHT RESERVED</small>-->
                            </p>
                        </address>
                    </div>
				</div>
				
				<!-- 180529 고코투어 추가 -->
				<div class="flt-box clr">
                    <div class="flt-1">
                        <img class="f-logo goco" src="http://img.bscondo.co.kr/f_gcLogo.png" alt="최고의 할인여행 고코투어">
                    </div>

                    <div class="flt-2">
                        <address>
                            <p class="nth-1">
                                (주)바로네트웍스<br>
                                서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br>
                                사업자번호 : 332-85-00016<span class="intv type01"></span>통신판매업 : 제 2009-4290040-30-2-0033호<br>
                                여행업등록번호 : 제2015-02호<br>
                                여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>
                                ※ 바로네트웍스는 BS콘도의 공식 온라인 총판으로서 온라인 예약 및<br> 결제를 대행합니다. 
                            </p>
                        </address>
                    </div>
				</div>
			</div>
		</footer>
		
		
		
	</div>
		
</body>
</html>